﻿@model EjercicioPropedeutico.Models.ProductoModel1
@{
    ViewBag.Title = "Agregar Producto";
}
@Html.ActionLink("<---", "Index")
<h2>Agregar Producto</h2>
@ViewBag.Mensaje
@using (Html.BeginForm("Add", "Producto", FormMethod.Post))
{
    @Html.DisplayNameFor(m => m.IdProveedor) @Html.DropDownListFor(m => m.IdProveedor, new SelectList(ViewBag.Proveedores, "id_proveedor", "razon_social")) <br />
    @Html.DisplayNameFor(m => m.Codigo) @Html.TextBoxFor(m => m.Codigo)<br />
    @Html.DisplayNameFor(m => m.Descripcion) @Html.TextBoxFor(m => m.Descripcion) <br />
    @Html.DisplayNameFor(m => m.Unidad) @Html.TextBoxFor(m => m.Unidad) <br />
    @Html.DisplayNameFor(m => m.Costo) @Html.TextBoxFor(m => m.Costo, htmlAttributes: new { @placeholder = "Costo" })
    @Html.ValidationSummary();
    <button type="submit">Aceptar</button>
}

