﻿@model EjercicioPropedeutico.Models.ProductoModel1

@{
    ViewBag.Title = "Editar Producto jojo";
}
@Html.ActionLink("<---", "Index")
<h2>Editar Producto</h2>

@ViewBag.Mensaje
@using (Html.BeginForm("Edit", "Producto", FormMethod.Post))

{
    @Html.DisplayNameFor(m => m.IdProveedor)@Html.TextBoxFor(m => m.IdProveedor)<br />
    @Html.DisplayNameFor(m => m.Codigo) @Html.TextBoxFor(m => m.Codigo) <br />
    @Html.DisplayNameFor(m => m.Descripcion) @Html.TextBoxFor(m => m.Descripcion)<br />
    @Html.DisplayNameFor(m => m.Unidad) @Html.TextBoxFor(m => m.Unidad)<br />
    @Html.DisplayNameFor(m => m.Costo) @Html.TextBoxFor(m => m.Costo)
    @Html.ValidationSummary();
    <button type="submit"> Aceptar </button>
}