﻿@model List<EjercicioPropedeutico.Models.ProductoModel1>

@{
    ViewBag.Title = "IndexPRODUCTO";
}
<h2>Index</h2>
<h5>@TempData["Mensaje"]</h5>

<input type="text" name="busqueda" placeholder="Buscar..." />
<button type="submit">Buscar</button>
<br />
@Html.ActionLink("Nuevo", "Add", controllerName: "Proveedores", routeValues: null, htmlAttributes: new { @style = "color: green;font-weight: bold;" })
<table>
    <thead>
        <tr>
            <th colspan="6">Tabla de Productos </th>
            <th></th>
        </tr>
        <tr>
            <th>Id </th>
            <th>Proveedor</th>
            <th>Codigo</th>
            <th>Descripción</th>
            <th>Unidad</th>
            <th>Costo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var m in Model)
            {
                <tr>
                    <td>@m.Id</td>
                    <td>@m.RazonSocialProveedor</td>
                    <td>@m.Codigo</td>
                    <td>@m.Descripcion</td>
                    <td>@m.Unidad</td>
                    <td>@m.Costo</td>
                    <td>@Html.ActionLink("Editar Elemento", "Edit", new { Id = m.Id })</td>
                    <td>@Html.ActionLink("Eliminar Elemento", "Remove", new { Id = m.Id })</td>
                </tr>
            }
        }
        
    </tbody>
</table>