﻿@model EjercicioPropedeutico.Models.ProductoModel1
@{
    ViewBag.Title = "Eliminar PROVEEDOR";
}
@Html.ActionLink("<---", "Index")
<h2>Eliminar Elemento</h2>
@ViewBag.Mensaje
@using (Html.BeginForm("Remove", "Proveedores", FormMethod.Post))
{
    @Html.DisplayNameFor(m => m.IdProveedor) @Html.TextBoxFor(m => m.IdProveedor)<br />
    @Html.ValidationSummary();

    <button type="submit"></button>


}