﻿@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag "WWW.RFACIL.COM"</h3>

<address>
    Av. Lic. Benito Juarez<br />
    Telefono:<br />
    <abbr title="Phone"></abbr>
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>