﻿@{
    ViewBag.Title = "Inicio";
}
@section styles{
    <h1 style="font-size:250%;"> D.P.D.P.P </h1>
     <style>
         h1 {
         color: blue;
         font-style:inherit;
         
         }
    <style>
        h2 {
            color: blue;
            font-style: italic;
            font-size: large 80px;
            list-style-position: inside;
        }
    </style>
}
<h2>Desarrollo de Proveedores con Detalle de Productos por Proveedor</h2>



@section scripts{
    <p>scrip </p>
}