﻿@model EjercicioPropedeutico.Models.ProveedorModel
@{
    ViewBag.Title = "Agregar Proveedor";
}
@Html.ActionLink("<---","Index")
<h2>Agregar</h2>
@ViewBag.Mensaje
@using (Html.BeginForm("Add", "Proveedores", FormMethod.Post))
{
    @Html.DisplayNameFor(m => m.Codigo) @Html.TextBoxFor(m => m.Codigo) <br />
    @Html.DisplayNameFor(m => m.RazonSocial) @Html.TextBoxFor(m => m.RazonSocial)<br />
    @Html.DisplayNameFor(m => m.RFC) @Html.TextBoxFor(m => m.RFC) @Html.ValidationMessageFor(m => m.RFC)
    @Html.ValidationSummary();
    <button type="submit">Aceptar</button>
}



