﻿@model EjercicioPropedeutico.Models.ProveedorModel

@{
    ViewBag.Title = "Editar Proveedor";
}

<h2>Editar Proveedor</h2>

@ViewBag.Mensaje
@using (Html.BeginForm("Edit", "Proveedores", FormMethod.Post))
{
    @Html.DisplayNameFor(m => m.Codigo) @Html.TextBoxFor(m => m.Codigo) <br />
    @Html.DisplayNameFor(m => m.RazonSocial) @Html.TextBoxFor(m => m.RazonSocial)<br />
    @Html.DisplayNameFor(m => m.RFC) @Html.TextBoxFor(m => m.RFC) @Html.ValidationMessageFor(m => m.RFC)
    @Html.ValidationSummary();
    <button type="submit">Aceptar</button>
}