﻿@model List<EjercicioPropedeutico.Models.ProveedorModel>
@{

    ViewBag.Title = "Ejemplo de index PROVEEDOR";
}
@section styles
{
<style>
    .like-link {
        color:dodgerblue;
        cursor:pointer;
    }
        .like-link:hover {
            color: #0056b3;
            text-decoration: underline;
        }
    #mensaje-informacion{
        color:cornflowerblue;
    }
</style>
}
<h2>RFACIL Facturación Electronica</h2>
<h5 id="mensaje-informacion"></h5>
<h5 style="color:red;" id="mensaje-error"></h5>
<input type="text" name="busqueda" placeholder="Buscar..." />
<button type="submit">Buscar</button>
<br />
@Html.ActionLink("Nuevo", "Add", controllerName: "Proveedores", routeValues: null, htmlAttributes: new { @style = "color: green;font-weight: bold;" })
<table>
    <thead>
        <tr>
            <th colspan="4">Tabla de Proveedores</th>
            <th></th>
        </tr>
        <tr>
            <th>Id</th>
            <th>Codigo</th>
            <th>Razón Social</th>
            <th>RFC</th>
            <th></th>
        </tr>
        @if (Model != null)
        {
            foreach (var m in Model)
            {
                <tr>
                    <td>@m.Id</td>
                    <td>@m.RazonSocialProveedor</td>
                    <td>@m.Codigo</td>
                    <td>@m.RazonSocial</td>
                    <td>@m.RFC</td>
                    <td>@Html.ActionLink("Editar Elemento", "Edit", new { Id = m.Id })</td>
                    <td><span onclick="ValidarYEliminarProveedor(this)" data-id="@m.Id" class="like-link">Eliminar Elemento</span></td>
                </tr>
            }
        }
    </thead>
</table>

<div id="myModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Error al eliminar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>El proveedor seleccionado tiene <span style="color:chartreuse" id="numero-productos"></span> productos<br />Desea elimiarlos</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="eliminar-forzado">Si</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cacelar</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        var ultimoSeleccionado;
        function ValidarYEliminarProveedor(elemento) {
            var idElemento = elemento.getAttribute('data-id');
            $.ajax(
                {
                    url: "@Url.Action("ValidarTieneProductos")",
                    data: { Id: idElemento },
                    type: 'post',
                    dataType: 'json',
                    success: function (data) {
                        debugger;
                        if (data.exito) {
                            if (data.tiene) {
                                $("#numero-productos").text(data.numeroProductos);
                                $('#myModal').modal('show');
                                ultimoSeleccionado = elemento;
                            }
                            else {
                                EliminarProveedor(elemento);
                            }
                        }
                        else {
                            $("#mensaje-error").text('No se pudo completar la accion');
                        }
                    }
                });
        }
        function EliminarProveedor(elemento, forzar) {
            debugger;
            forzar = forzar || false;
            var idElemento = elemento.getAttribute('data-id');
            $.ajax(
            {
                url: '@Url.Action("Remove")',
                data: { Id: idElemento,forzar:forzar },
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    if (data.exito) {
                        $("#mensaje-informacion").text('Todo salio bien')
                        window.location = window.location;
                    }
                    else {
                        $("#mensaje-error").text('Ocurio un error');
                        $('#myModal').modal('hide');
                    }
                }
            });
        }
        document.getElementById('eliminar-forzado').addEventListener('click', function () {
            EliminarProveedor(ultimoSeleccionado, true);
        });
    </script>
}